table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: top; /* This aligns the content to the top */
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 3em;
    min-width: 3em;
    max-width: 3em;
    word-break: break-all;
}

/* Additional CSS to target only the first cell in each row */
td:first-child {
    font-family: monospace;
    font-size: xx-large;
    horiz-align: right;
    vertical-align: top; /* This ensures the text in the first column is aligned to the top */
    /*width: 1%; !* Minimizes the width of the first column *!*/
    /*white-space: nowrap; !* Prevents text from wrapping *!*/
}

.code-container {
    max-height: 160px; /* approx 10 lines, depending on your line height */
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.code-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to bottom, transparent, white);
}

table {
    width: 100%;
    position: relative; /* Required to position the thead absolutely within the table */
    border-collapse: collapse; /* Optional: for styling */
}

thead th {
    position: sticky;
    top: 0; /* Stick to the top of the table */
    background-color: #fff; /* Ensures the header is not transparent */
    z-index: 1; /* Ensures the header stays above other content */
}
